.editor
  width: 100%
  line-height: 1.6em
.main-editor
  margin-top: 10px
  width: 100%
  display: flex
  align-items: baseline

.mini-editor
  max-width: 95%
  max-width: 1080px
  margin: 0 auto
  .CodeMirror, .CodeMirror-scroll
    min-height: 100px !important