.editor
  width: 100%
.main-editor
  margin-top: 10px
  width: 100%
  display: flex
  align-items: baseline

.mini-editor
  width: 100%
  .CodeMirror, .CodeMirror-scroll
    min-height: 100px !important