.new-note
  width: 100%
  box-shadow: 0 6px 18px -6px rgba(0, 0, 0, 0.2)
  margin-bottom: 16px
  padding: 8px
  +transition(0.3s)
  textarea
    background: transparent
    margin-bottom: 8px
  .create
    width: 64px
    height: 32px
    padding: 4px
    border-radius: $main-radius
    background: $main
    i
      color: $main-bg