.new-note
  width: 100%
  box-shadow: 0 6px 18px -6px rgba(0, 0, 0, 0.2)
  margin-bottom: 16px
  padding: 8px
  display: flex
  align-items: flex-end
  justify-content: center
  flex-direction: column
  +transition(0.3s)
  .mini-editor
    width: 100%
  textarea
    background: transparent
    margin-bottom: 8px
  .create
    background: $main
    cursor: pointer
    padding: 4px
    border-radius: 50%
    i
      color: $main-bg
      vertical-align: middle