.note-editor
  width: calc(100% - 56px)
  margin-left: 56px
  .title-input
    background: transparent
    width: 100%
    display: flex
    overflow: hidden
    box-shadow: 0 8px 18px -6px rgba(#000, 0.05)
    input
      font-size: 24px
      background: transparent
      color: $syntax-fg
      padding: 8px 32px
      width: 100%
  .editor
    width: 100%
    display: flex
    align-items: baseline