.note-editor
  width: calc(100%)
  .title-input
    background: transparent
    width: 100%
    display: flex
    overflow: hidden
    border-bottom: 1px solid rgba($main, 0.2)
    input
      font-size: 24px
      background: transparent
      color: $syntax-fg
      padding: 8px 32px
      width: 100%
    button
      +transition(0.1s)
      background: transparent
      color: $syntax-fg
      display: flex
      align-items: center
      justify-content: flex-start
      padding: 16px
      i
        color: $syntax-fg
      &:hover
        background-color: $syntax-guide