.notes
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0 auto
  .note
    padding: 8px
    margin: 4px
    min-width: 300px
    +transition(0.1s)
    &:hover
      background-color: $syntax-guide
.add
  position: fixed
  right: 16px
  bottom: 16px