.notes
  display: flex
  justify-content: center
  flex-wrap: wrap
  max-width: 1080px
  width: 95%
  margin: 0 auto
  padding-top: 48px
  .note
    margin: 8px
    padding: 8px
    min-width: 300px
    color: $text-color
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.2)
    +transition(0.3s)
    background-color: #fff
    color: rgba(#000, 0.85)
    &:hover
      box-shadow: 0 6px 18px -6px rgba(0, 0, 0, 0.2)

.add
  position: fixed
  right: 16px
  bottom: 16px