.note-list
  width: 95%
  max-width: 1080px
  margin: 0 auto
  display: grid
  grid-template-columns: auto auto auto
  grid-gap: 8px

  
.note-sidebar
  background-color: #fff
  width: 280px
  height: 100vh
  overflow-y: scroll
  display: block
  box-shadow: 0 3px 8px rgba($text-color, 0.2)
  a 
    display: block
    width: 100%
    .note-card
      margin: 0