.note-editor
  .title-input
    background: transparent
    font-size: 24px
    width: 100%
    display: flex
    align-self: stretch
    overflow: hidden
    textarea
      padding: 8px 32px
      width: 100%
  .editor
    width: 100%
    display: flex
    align-items: baseline