.outline
  max-width: 160px
  width: 160px
  border-right: 1px solid rgba($main, 0.05)
  >p
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    border-left: 2px solid rgba($main, 0.3)
    padding: 1px 4px
    margin-bottom: 0
  .lvl
    font-family: $monospace
    display: inline-block
    font-size: 12px