*:not(.Codemirror *)
  margin: 0
  padding: 0
  border: none
  box-sizing: border-box
  outline: none

a, a:hover, a:active, a:visitied
  color: inherit

body
  background-color: $main-bg
  color: $syntax-fg

::selection
  background-color: rgba(179,127,235, 0.2)
  color: rgba(#000, 0.85)