.sidebar
  height: 100vh
  width: 56px
  position: fixed
  background-color: $syntax-gutter
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  box-shadow: 0 0 8px -4px rgba($main, 0.3)  

  a
    +transition(0.3s)
    width: 100%
    text-align: center
    padding: 8px
    i
      position: relative
      &::after
        content: ""
        z-index: -1
        position: absolute
        +transition(0.3s)
        top: -3px
        left: -3px
        height: 42px
        width: 42px
        border-radius: 50%
        background-color: transparent
    &:hover
      i::after
        background-color: $syntax-guide
body
  padding-left: 56px