$main-bg-light: #fff
$main-bg-dark: #060a0b

$text-light: rgba($main-bg-dark, 0.85)
$text-dark: rgba($main-bg-light, 0.85)
$main: #BA86EF

$syntax-gutter-light:   darken($main-bg-light , 5%)
$syntax-guide-light:    darken($main-bg-light, 10%)

$selection-color: rgba($main, 0.5)

  
$monospace: "Roboto Mono", monospace
$main-font: 'Roboto', sans-serif

$main-radius: 5000px

@mixin transition($t) 
  transition: all $t ease-in-out